* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: burlywood;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

article {
  background-color: darkslategray;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
}
p {
  color: white;
  font-size: 3rem;
  text-align: center;
}
article div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.25rem;
  padding: 10px;
  color: white;
}

span {
  flex: 1 1 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  transition: all 0.3s ease
}
span:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
h2 {
  color: white;
  font-size: 2rem;
}

