{% extends 'base.html' %}

{% block head %} <title>View cart</title> {% endblock %}

{% block body %} 
    
    {% if not cart %}
        <h2>There's nothing in your cart</h2>
    {% else %}
        {% for item in cart %}
    <div style="margin-bottom: 20px;">
        <h3>
            {{ item.dish.dish_name }} 
            
            <form action="/menu/decrease/{{ item.dish.id }}" method="POST" style="display: inline; margin-left: 10px;">
                <button type="submit">-</button>
            </form>
            
            <span style="margin: 0 5px;">{{ item.quantity }}</span>
            
            </h3>

        <p>Price per item: ${{ item.dish.pricing / 100 }}</p>
        <p><strong>Subtotal: ${{ (item.dish.pricing * item.quantity) / 100 }}</strong></p>
        
        <form action="/menu/remove/{{ item.dish.id }}" method="POST">
            <button type="submit" style="color: red;">Remove all</button>
        </form>
    </div>
    <hr>
        {% endfor %}
    {% endif %}
    <form action="/checkout" method="POST">
    <button type="submit" style="background-color: green; color: white; padding: 10px 20px; font-size: 18px;">
        Place Order
    </button>
</form>
{% endblock %}